**/.github/
**/node_modules/
**/dist/
**/build/
**/target/
**/out/
**/coverage/
**/public/
**/tmp/
**/.cache/
**/.parcel-cache/
**/.next/
**/.nuxt/
**/.vercel/
**/.turbo/
**/.idea/
**/.vscode/
**/.history/
**/.DS_Store
**/.env
**/.env.*
**/.eslintcache
**/.prettiercache
